body{
    font-family: 'Crete Round', serif;
    margin: 0;
}
.header-image{
    background-image: url(images/donation13.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
   

}
.header-text{
    text-align: center;
    color: white;
    padding: 180px;
}
.header-text h1{
    font-size: 50px;
}
.button-1{
    text-decoration: none;
    background-color:rgb(192, 47, 21);
    color: white;
    font-weight: 500;
    padding: 10px 15px;   
    border-radius: 8px;
}
.header-2{
    text-align: center;
    margin-top: 60px;
}
.flex{
    display: flex;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}


.flex-1{
   width: 20%;
   background-color:rgb(233, 225, 225);
   margin-left: 40px;
   font-size: 24px;
   text-align: center;
   height: 50px;
   padding: 25px;
}
.flex-2{
   background-color: rgb(241, 212, 206);
   border: 2px solid tomato;
   color: rgb(230, 60, 31);
}
.text-field input{
   
    width: 50%;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-left: 25%;
    margin-right: 25%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
   
}
.button-2{

    text-align: center;
    margin-top: 30px;
}
.header-3{
    text-align: center;
    margin-top: 100px;
}
.flex-plan{
    display: flex;
    text-align: left;
   
}
.flex-plan-1{
  
    margin-left: 120px;
    margin-right: 100px;
    padding: 50px 100px 10px 50px;
    background-color: rgb(217, 238, 241);
    height: 300px;
}
.flex-plan-2{
 
background-color: rgb(255, 227, 221);
margin-right:100px;
padding: 50px 100px 10px 50px;
height: 300px;
}
.flex-plan-3{
 
background-color: rgb(250, 249, 178);
margin-right:100px;
padding: 50px 100px 10px 50px;
height: 300px;
}
.services-header{
    text-align: center;
    margin-top: 150px;
}
.services{
    display: flex;
   
    text-align: center;
    
}
.services div img{
    width: 70%;
  
}
.service-1{
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 10px 10px 20px gray;
    width: 100%;
    border-radius: 8px;
    
    
}
